
<div class="header row">
    <img src="../assets/images/logo-social.png" class="img_left">
    <img src="../assets/images/logo.png" class="img_right">
  </div>
  <div class="container">
    <div class="row" >
        <p class="counter1" *ngIf="isCountingStart == false">
            <!-- {{countdown}} -->
            <!-- {{countdown$ |async}} -->
        </p>
        <p class="counter1" *ngIf="isCountingStart">
            {{countdown}}
            <!-- {{countdown$ |async}} -->
        </p>
        
    </div>
  <div class="row">
  
    <div class="main col">
      
        <div class="container" style="height:100%" *ngIf="isCrushing==false">
  
            <div class="col">
                <div class="row">
                    <div class="center">
                        <img src="../../../assets/images/bottle.png" class="bottle-img" alt="">
                        <img src="../../../assets/images/cross.png" alt="" class="cross-img">
                        <p class="counter">
                            {{counter}}
                        </p>
                    </div>
                </div>
                <div class="rwo">
                    <p class="p-text">Please enter another bottle or Press next button on keypad to continue.</p>
                </div>
            </div>
            
        </div>
        
        <div class="container" style="height: 100%;" *ngIf="isCrushing">
                
            <div class="center">
                <img src="../../../assets/images/bottle-crushing.png" alt="">
            </div>
        </div>
      
    </div>
  
  
    <div class="advertisement col-6">
  
    </div>
  </div>
  </div>
  